

#Grocery-list {
    color:aquamarine;
    align-items: right;
}

#Canned {
    color:brown
}

#cans{
    border-style: dotted;
    background-color: aliceblue;
}

#Drinks{
    border-style:ridge;
    background-color: aliceblue;
}

#Drink-title{
    color:cadetblue;
    background-color: black;
    
}
#Pantry-items-title {
    color: blueviolet;
}

#Freezer-items{
    color:cadetblue
}

#Frozen-dinner-title{
    color: darkcyan;
}

#Frozen-fruit{
    border-style: double;
    background-color: aliceblue;
}

#Frozen-snacks{
    border-style: dotted;
    background-color: aliceblue;
}

#Frozen-fruits{
    color: cadetblue;
}

